* {
  margin: 0%;
  padding: 0%;
}
header img {
  color: black;
  padding-left: 40px;

  width: 40px;
  height: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: flex-end;
  color: #395150;
  font-size: medium;
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
}
li {
  margin-left: 20px;
}
#aboutme {
  background-color: #32ada7;
}
.aboutme_header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.aboutme_content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}
.aboutme_content img {
  height: 200px;
  border-radius: 16px;
  margin-left: 20px;
}
.aboutme_content p {
  width: 300px;
}
#photos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.photo_mara {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 275px;
}
.photo_mara_img img {
  height: 150px;
  margin: 10px;
  border-radius: 16px;
}
.photo_mara_p {
  font-size: small;
  margin: 10px;
}
.moreinfo {
  display: flex;
}
#
