* {
  margin: 0%;
  padding: 0%;
}
#home img {
  color: black;
  padding-left: 40px;
  width: 30px;
  height: 30px;
}
#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home ul {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
}
#home ul li {
  margin-left: 20px;
}
#home ul li a {
  text-decoration-line: none;
  text-decoration: none;
  color: #76807f;
}
#home ul li a:hover {
  color: #395150;
  transition: all 0.5s ease 0s;
}
#aboutme {
  background-color: #32ada7;
}
.aboutme_header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.aboutme_content {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}
.aboutme_content img {
  height: 200px;
  border-radius: 16px;
  margin-left: 100px;
}
.aboutme_content p {
  width: 800px;
  font-size: large;
  margin-left: 60px;
}
#photos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dfe0ca;
}
.photo_mara {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 275px;
}
.photo_mara_img img {
  height: 150px;
  margin: 10px;
  border-radius: 16px;
}
.photo_mara_p {
  font-size: small;
  margin: 10px;
}
.moreinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  padding: 10px;
}
#contacts_links img {
  width: 20px;
}
.form {
  
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
.form h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form button {
  background-color: #e2ec1b;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
  margin-top: 10px;
}label {
  font-size: medium;
}
