header{
    background-color:bisque;
    display: flex;
    font size: 20px;
    padding: opx;


}
header img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
ul{
    float: right;
    display: flex;
    gap: 50px;
}
li{
    justify-content: 100px;
   list-style: none;
}
 
 .SECTION1{
    display: flex;
    background-color: beige;
 }
 
 .SECTION1 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    float: left;
}
.SECTION1 p{
    width: 400px;
    color:black;
    font-style: oblique;
    
}
 .SECTION2 {
    display: flex;
   background-color: azure;
 }
 .SECTION2 img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    float: left;
 }
 .SECTION2 p{
    width: 400px;
    font-style: oblique;
    
 }
  mara
 